.button-decor {
  border: 4px solid transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #ed6b7a;
  --button-right-gradient: #c980d4;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: --button-left-gradient 300ms, --button-right-gradient 300ms;
  border-radius: 2rem;
  font: bold;
  color: white;
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage {
  
}
.img-title {
  width: 60rem;
  height: auto;
  margin-top: 5rem;
}
.infobutton {
  margin-top: 0rem;
  margin-bottom: 5rem;
  font-family: "Friend";
  font-size: 1.5rem;
}
.videobg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoframe {
    position: absolute;
    z-index: 8;
}
.video{
    margin-top: 5rem;
    margin-bottom: 6rem;
    position: relative;
    z-index: 10;
}
.bottomline{
  display: flex;
  justify-content: end;
  align-items: end;
}
.leftdecor{
    position: absolute;
    left: 0;
    height: 30rem;
    width: auto;
    z-index: 9;
}
.rightdecor{
  position: absolute;
  right: 0;
  height: 30rem;
  width: auto;
  z-index: 9;
}
.icedecor{
  position: absolute;
   position: absolute;
  right: 0;
  height: 40rem;
  width: auto;
  z-index: 8;
}
