.comp-detail-decor {
  border: solid transparent;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #FCF6E8;
  --button-right-gradient: #EECB6B;
  --button-left-border: #ed6b7a;
  --button-right-border: #c980d4;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 2rem;
  font: bold;
  color: white;
}

.search-decor {
  border: 0.5rem solid transparent;

  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #FCF6E8;
  --button-right-gradient: #EECB6B;
  --button-left-border: #ed6b7a;
  --button-right-border: #c980d4;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 2rem;
  font: bold;
  color: rgb(0, 0, 0);
  border-radius: 100rem;
}

.competition-container {
  background-image: url('/Asset/Competitionpage/competition_bg.svg');
  background-size: "cover";
  background-position: "center";
  background-repeat: "no-repeat";

  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-title{
    width: 80rem;
    height: auto;
    margin-top: 4rem;
}

.search-input {
  background-color: transparent;
  width: 40rem;   
  height: 5rem;  
  border: none;
  display: inline-flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding-left: 5rem;
  transition: 0.3s;
  font-family: "Seenonim";
}

.search-input:focus {
  border-color: #6366f1; /* ungu indigo */
  box-shadow: 0 0 5px rgba(99, 102, 241, 0.4);
  outline: none;
}

.categories-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap; /* biar kalau banyak badge bisa turun ke baris bawah */
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  max-width: 70%;
  margin: 0 auto; /* biar kontainer juga di tengah halaman */
}
 
.categories-pointer {
  background-image: url("/Asset/Competitionpage/categories_card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 10rem;   /* semua badge sama lebar */
  height: 4rem;  /* semua badge sama tinggi */
  color: white;
  min-width: 8rem;
}

.categories-card.active {
  --button-left-gradient: #E0EEE9;
  --button-right-gradient: #61C0D6;
  --button-left-border: #fff0b8;
  --button-right-border: #f2b028;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
}


.categories-card:hover {
  --button-left-gradient: #E0EEE9;
  --button-right-gradient: #61C0D6;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
}

.competition-detail-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; 
  margin-top: 3rem;

}

.competition-detail-card {
  background-image: url("/Asset/Competitionpage/competition_card.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: transparent;
  height: 15rem; 
  width: 30rem;  /* semua badge sama tinggi */
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  transition: 0.3s; /* jarak antar badge */
  font-family: "Seenonim";
}

.detail-card{
  margin-left: 2rem;
}

.categories-pointer-detail {
  background-image: url("/Asset/Competitionpage/categories_card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 12rem;   /* semua badge sama lebar */
  height: 4.5rem;  /* semua badge sama tinggi */
  color: white;
}

.title-text{
  font-size: 18px;
  font-weight:500;
  color: #95183D;
  margin-top: 1rem;
}

.deadline-text{
  font-weight: 500;
  color: #95183D;
  margin-bottom: 1.8rem;
}

.detail-text{
  font-weight: 300;
  color: #E36F8F;
}

.img-portal{
  position: absolute;
  z-index: 2;
  width: 30rem;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.img-car{
  position: absolute;
  z-index: 2;
  width: 35rem;
  height: auto;
  bottom: 0;
  right: 0;
}

.stacked-images {
  position: relative;
  width: 100%;
  margin-top: 12rem; 
}

.stacked-images img {
  position: absolute;
}

.img1 {
  z-index: 1;
  bottom: 0;
  left: 0;
}

.pagination-arrow {
  color: rgb(150, 47, 82);
  font-size: medium;
  font-weight: bold;
  font-family: "Seenonim";
}

.pagination-number {
  --button-left-gradient: #FFF2E2;
  --button-right-gradient: #FFD169;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    );
  color: rgb(150, 47, 82);
  font-size: medium;
  font-weight:500;
}

.cloud_left{
  position: absolute;
  top: 13rem;
  left: -15rem;
  width: 45rem;
  height: auto;
}

.cloud_right{
  position: absolute;
  top: 13rem;
  right: -15rem;
  width: 45rem;
  height: auto;
}


