.competition-container {
  background-image: url('/Asset/Competitionpage/competition_bg.svg');
  background-size: "cover";
  background-position: "center";
  background-repeat: "no-repeat";

  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-title{
    width: 80rem;
    height: auto;
    margin-top: 4rem;
}

.search-input {
  background-image: url("/Asset/Competitionpage/search_bar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 45rem;   
  height: 5rem;  
  color: rgb(150, 47, 82);
  border: none;
  display: inline-flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding-left: 5rem;
  transition: 0.3s;
}

.search-input:focus {
  border-color: #6366f1; /* ungu indigo */
  box-shadow: 0 0 5px rgba(99, 102, 241, 0.4);
  outline: none;
}

.categories-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  max-width: 80%;
  margin-top: 1rem;
  gap:1rem;
}

.categories-card {
  border: 4px solid transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #ed6b7a;
  --button-right-gradient: #c980d4;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: --button-left-gradient 300ms, --button-right-gradient 300ms;
  border-radius: 15rem;
  font: bold;
  color: white;
  min-width: 8rem;
}

.categories-card:hover {
  opacity: 0.8;
}

.competition-detail-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; 
  margin-top: 3rem;

}

.competition-detail-card {
  width: 25rem;
  height: 12rem;
  border: 4px solid transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #FCF6E8;
  --button-right-gradient: #EECB6B;
  --button-left-border: #ed6b7a;
  --button-right-border: #c980d4;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: --button-left-gradient 300ms, --button-right-gradient 300ms;
  border-radius: 1.5rem;
  font: bold;
  color: white;
}

.categories-in-detail {
  border: 4px solid transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  --button-left-gradient: #ed6b7a;
  --button-right-gradient: #c980d4;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: --button-left-gradient 300ms, --button-right-gradient 300ms;
  border-radius: 5rem;
  color: white;
}

.title-text{
  font-size: 18px;
  font-weight:500;
  color: #95183D;
  margin-top: 1rem;
}

.deadline-text{
  font-weight: 500;
  color: #95183D;
  margin-bottom: 1.8rem;
}

.detail-text{
  font-weight: 300;
  color: #E36F8F;
}

.img-portal{
  position: absolute;
  z-index: 2;
  width: 30rem;
  height: auto;
  bottom: 0;
  left: 0;
}

.img-car{
  position: absolute;
  z-index: 2;
  width: 35rem;
  height: auto;
  bottom: 0;
  right: 0;
}

.stacked-images {
  position: relative;
  width: 100%;
  margin-top: 12rem; /* jarak setelah portal */
}

.stacked-images img {
  position: absolute;
}

.img1 {
  z-index: 1;
  bottom: 0;
  left: 0;
}

.img2 {
  z-index: 3;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.pagination-arrow {
  color: rgb(150, 47, 82);
  font-size: medium;
  font-weight: bold;
  font-family: "Seenonim";
}

.pagination-number {
  --button-left-gradient: #FFF2E2;
  --button-right-gradient: #FFD169;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    );
  color: rgb(150, 47, 82);
  font-size: medium;
  font-weight:500;
}
