.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-title {
  z-index: 2;
  width: 50rem;
  height: auto;
  margin-top: 5rem;
}

.about-description{
  z-index: 2;
}

.about-title-container{
  display: flex;
  flex-direction: column;
}

.about-description-container{
  display: flex;
  flex-direction: column;
}

.partners-container{
    z-index: 2;
    background: radial-gradient(ellipse,rgba(248, 231, 194, 0.5) 0%,rgba(238, 202, 105, 0.5) 100% );
    border-radius: 15rem;
    min-width: 95%;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.partners-rectangle-container {
  margin-top: 1rem;
}

.partners-title{
  width: 60rem;
  height: auto;
}

.partners-rectangle {
  border: 10px solid transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #ffffff;
  --button-right-gradient: #ffffff;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: --button-left-gradient 300ms, --button-right-gradient 300ms;
  border-radius: 4rem;
  font: bold;
  color: white;
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  width: 15rem;
  height: 15rem;
}

.sponsor-container{
    background-image: url("/Asset/Aboutpage/sponsor_background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;

    margin-top: 6rem;
    width: 100%;
    height: 25rem;
    justify-content: start;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sponsor-title{
  position: relative;
  bottom: 3rem;
  width: 60rem;
  height: auto;
}

.sponsor-rectangle-container {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.sponsor-rectangle{
  border: 8px solid transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  --button-left-gradient: #ffffff;
  --button-right-gradient: #ffffff;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;
  background-image: linear-gradient(
      90deg,
      var(--button-left-gradient),
      var(--button-right-gradient)
    ),
    radial-gradient(
      circle at top left,
      var(--button-left-border),
      var(--button-right-border)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: --button-left-gradient 300ms, --button-right-gradient 300ms;
  border-radius: 3rem;
  font: bold;
  color: white;

  position: relative;
  display: inline-block;
  margin-left: 1rem;
  width: 12rem;
  height: 12rem;
}

.partners-rectangle-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  text-align: center;
}

.partners-overlay-text {
  font-weight: 700;
  font-size: 1.25rem;
  color: #1f2937;
}


.mochi_right{
  z-index: 7;
  width: 20rem;
  position: absolute;
  right: 0;
  margin-top: -10rem;
}

.mochi_left{
  z-index: 7;
  position: absolute;
  left: 0;
  margin-top: -10rem;
}

.star_left{
  z-index: 7;
  position: absolute; 
  left: 0;
  margin-top: -15rem;
  width: 13rem;

}

.cake_right{
  z-index: 7;
  position: absolute; 
  right: 0;
  margin-top: -15rem;
  width: 12rem;

}

.cloud_left1{
  z-index: 1;
  position: absolute;
  left: 0;
  margin-top: 8rem;
  width: 30rem;
}

.cloud_left2{
  z-index: 1;
  position: absolute;
  left: 0;
  margin-top: 30rem;
  width: 30rem;
}

.cloud_right1{
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: -15rem;
  width: 25rem;
}

.cloud_right2{
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 15rem;
  width: 30rem;
}

.cookie{
  display: none;
  position: absolute;
  z-index: 0;
  top: 120rem;
}

@media (max-width: 440px) and (max-height: 956px) and (orientation: portrait) {

  .about-container {
    background-image: url('/Asset/Aboutpage/about_mobile_bg.svg');
    background-size: "cover";
    background-position: "center";
    background-repeat: "no-repeat";
  }

  .about-title {
    width: 90%;
    margin-top: 3rem;
  }

  .about-description {
    width: 80%;
    margin-top: 1rem; 
  }

  .partners-title{
    width: 90%;
  }

  .partners-rectangle{
    width: 5rem;
    height: 5rem;
    margin-left: 0;
  }

  .partners-rectangle-container{
    margin-top: 0.5rem;  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
    gap: 1rem;
    display: flex;
    width: 90%;
  }

  .partners-rectangle-overlay {
    justify-content: space-between;
  }

  .sponsor-title{
    width: 90%;
    bottom: 2rem;
  }

  .sponsor-container{
    height: 18rem;
  }

  .sponsor-rectangle-container{
    margin-top: 0;
    margin-bottom: 0;
    gap: 1rem;
  }

  .sponsor-rectangle{
    width: 5rem;
    height: 5rem;
  }

  .sponsor-rectangle {
    height: 2rem;
  }

  .mochi1{
    z-index: 7;
    width: 8rem;
    top:72rem;
  }

  .mochi2{
    z-index: 8;
    width: 7.5rem;
    right: 5.5rem;
    top:75rem;
  }

  .mochi3{
    z-index: 7;
    width: 8rem;
    left: 8rem;
    top:74rem;
  }

  .cookie{
    display: block;
    z-index: 6;
    position: absolute;
    width: 15rem;
    left: -4rem;
    top: 70rem;
  }

}
